body {
  color: rgba(195, 7, 63, 1);
}

body {
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/atlanta-skyline-in-black-and-white-jackson-street-bridge-view-gregory-ballos.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Patrick Hand";
}

.header-row {
  padding-top: 100px;
  padding-bottom: 50px;
}

.r1 {
  background-color: rgba(0, 0, 0, 0.6);
}

.link-row {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.link {
  color: rgba(195, 7, 63, 1);
  text-decoration: none;
}

.link h3 {
  font-size: 40px;
}

.link:hover {
  color: rgba(111, 34, 50, 1);
}

p {
  font-size: 30px !important;
}

.display-1 {
  font-family: "Bangers";
  font-size: 100px !important;
}

/*********** Navbar Styles ***********/
.navbar-brand {
  font-family: "Bangers";
  font-size: 50px;
  padding: 20px;
}

.nav {
  font-size: 35px;
}

.nav-item {
  padding: 30px;
  color: white;
}

.nav-item:hover,
.navbar-brand:hover {
  color: rgba(195, 7, 63, 1) !important;
}

/******** Input Box Styles ********/
.input-group-text {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 30px;
}

.form-control {
  border: 2px solid rgba(195, 7, 63, 1);
}

.btn {
  width: 100%;
  height: 100%;
}

/******** Fortune Box Styles ********/

#wheelOfFortune {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#wheel {
  display: block;
}

#spin {
  font: 2em/0 sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  margin: -15%;
  background: #fff;
  color: #fff;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
}

#spin::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

.container {
  margin-top: 3%;
}

h3 {
  text-align: center;
}

#restaurant-info p {
  font-size: 22px !important;
  color: black;
}

/******** Cuisines Styles ********/
#zipSelector {
    width: 165px; 
    margin-bottom: 20px;
}

/******** Map Styles ********/
#map {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 700px;  /* or as desired */
    width: 100%;  /* This means "100% of the width of its container" */
};

.legend {
  padding: 2px 10px;
  font-family: "Patrick Hand";
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

.legend .threestars {
  color: goldenrod;
  padding: 2px 10px;
  font-family: "Patrick Hand";
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

.legend .fivestars {
  color: green;
  padding: 2px 10px;
  font-family: "Patrick Hand";
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

.legend .twostars {
  color: darkorange;
  padding: 2px 10px;
  font-family: "Patrick Hand";
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

.legend .fourstars {
  color: blue;
  padding: 2px 10px;
  font-family: "Patrick Hand";
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

.legend .onestars {
  color: darkred;
  padding: 2px 10px;
  font-family: "Patrick Hand";
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}


/******** Find Styles ********/
.lead i {
  color: rgb(207, 207, 71) !important;
}