{% extends "base.html" %} {% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row header-row r1">
      <h1 class="display-1 text-center">Fortune</h1>
      <h1 class="text-center">What is your food fortune for the day?</h1>
      <h3>Let fate decide...</h3>
      <h3>Then use the dropdown for some suggestions!</h3>
    </div>
    <div class="row link-row">
      <div class="col-md-7 justify-content-center">
        <div id="wheelOfFortune">
          <canvas id="wheel" width="700" height="700"></canvas>
          <div id="spin">SPIN</div>
        </div>
      </div>
      <div class="col-md-2 justify-content-center">

      </div>
      <div class="col-md-3 justify-content-center">
        <h4>Types of Cuisines</h4>
        <select id="selDataset2">
          <option value="ignore">Select an Option</option>
        </select>
        <hr />
        <h4 class="panel-title">Restaurant Suggestions</h4>
        <div id="restaurants"></div>
        <hr />
        <div id="restaurant-info"></div>
      </div>
    </div>
  </div>
</div>

<script src="../static/js/spinwheel.js"></script>
{% endblock %}
