<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link href="static/css/style.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/8502dc2626.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Sofia|Urbanist|Bangers|Patrick+Hand&display=swap"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row header-row r1">
          <h1 class="display-1 text-center">ATL Foodie</h1>
          <p class="lead text-center">
            Welcome to Atlanta! While you are here, we invite you to explore our analysis of the over 5,000 restaurants in our area. Click on any icon to begin your visit!
          </p>
        </div>

        <div class="row link-row">
          <div class="col-sm text-center">
            <a class="link" href="/cuisines">
              <i class="fa fa-utensils fa-7x"></i>
              <br />
              <h3>Cuisines</h3>
            </a>
          </div>
          <div class="col-sm text-center">
            <a class="link" href="/ratings">
              <i class="fa fa-star-half-alt fa-7x"></i>
              <br />
              <h3>Ratings</h3>
            </a>
          </div>
          <div class="col-sm text-center">
            <a class="link" href="/map">
              <i class="fa fa-map fa-7x"></i>
              <br />
              <h3>Map</h3>
            </a>
          </div>
          <div class="col-sm text-center">
            <a class="link" href="/fortune">
              <i class="fa fa-dice fa-7x"></i>
              <br />
              <h3>Fortune</h3>
            </a>
          </div>
          <div class="col-sm text-center">
            <a class="link" href="/find">
              <i class="fa fa-street-view fa-7x"></i>
              <br />
              <h3>Find</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
