{% extends "base.html" %} {% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row header-row r1">
      <h1 class="display-1 text-center">Ratings</h1>
      <p class="lead text-center">
        Wondering what areas of town have the best restaurant ratings? You've come to the right place! The below heatmap is weighted based on each restaurant's star rating.
      </p>
    </div>

    <div class="row link-row">
      <div class="col-md-12">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<!-- Leaflet heatmap plugin-->
<script type="text/javascript" src="../static/js/leaflet-heat.js"></script>
<script src="../static/js/ratings.js"></script>

{% endblock %}
